<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column">
  <vit-header></vit-header>
    
  <div fxLayout="row">
    
  </div>
</div>
<router-outlet></router-outlet>
<mat-form-field>
  <mat-select placeholder="Asset">
    <mat-option *ngFor="let asset of assets" [value]="asset.assetId">
      {{ asset.symbol }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- <mat-checkbox color="primary">Test</mat-checkbox>
<button mat-raised-button (click)="alert('test');" color="primary">Test</button> -->

